<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit User {{user.get_full_name()}}</h1>
<form method="POST">
  <p>First Name:<input name="first_name" value="{{user.first_name}}"></p>
  <p>Last Name:<input name="last_name" value="{{user.last_name}}"></p>
  <p>Photo:<input name="image_url" value="{{user.first_name}}"></p>
  <button>Save</button>
</form>

</body>
</html>