<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Users</h1>
<ul>
  {% for user in users %}
  <li><a href="/users/{{ user.id }}">{{ user.get_full_name() }}</a></li>
  {% endfor %}
</ul>

<form action="/users/new" method="get">
  <input type="submit" value="Add New Profile" id="addbtn"/>
</form>
<h1>Recent Posts</h1>
<ul>
  {% if posts %}
  {% for post in posts %}
  <li>
    <a href="/posts/{{ post.id }}">
    {{ post.post_title }}
    </a>
  </li>
  {% endfor %}
  {% else %}
    <h2>There are no posts! Write something?</h2>
  {% endif%}
</ul>


</body>
</html>