<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <h2>Add User</h2>
<form action="/users/new" method="POST">
  <p>First Name:     <input name="first_name"></p>
  <p>Last Name:  <input name="last_name"></p>
  <p>Photo:   <input name="image_url"></p>
  <button>Save</button>
</form>
<form action="/users" method="get">
<input type="submit" value="Go back" id="back"/>
</form>
</body>
</html>