{% extends "base.html" %}

{% block title %} 
Posts tagged {{ tag.name }}
{% endblock %}


{% block content %}
    <h1>Posts tagged : {{ tag.name }}</h1>
    
        {% if tag.posts %}
            <ul>
                {% for post in tag.posts %}
                <li> 
                    <a href="/posts/{{post.id}}">
                        {{post.post_title}}
                    </a>
                </li>
                {% endfor%}
            </ul>
        {% else %}
        <h2>There are no posts with this tag</h2>
        {% endif %}
        
<form action="/tags" method="get">
    <input type="submit" value="Go back" id="back"/>
</form>
<form action="/tags/{{tag.id}}/delete" method="post">
    <input type="submit" value="Delete this tag" id="back"/>
</form>
{% endblock %}


